{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}
<section class="section section-lg">
  {%if user != 'Staff' %}
  <div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="display-4">Revenue</h1>
        </div>
    <hr>
      <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="card border-0">
            <div class="card-body bg-white border border-gray-300 text-center rounded">
                <h6><small class="text-muted">Current Month</small></h6>
                <hr>
                <h3>₹{{orders_month.revenue}}/-</h3>
            </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="display-4">Orders</h1>
        </div>
    <hr>
      <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="card border-0">
            <div class="card-body bg-white border border-gray-300 text-center rounded">
                <h6><small class="text-muted">Current Month</small></h6>
                <hr>
                <h3>{{orders_month.orders}}</h3>
            </div>
        </div>
      </div>
    </div>
    </div>
    {% else %}
    <div class="container">
      <br><br><br><br><br><br><br>
    <h1 class="display-1" style="text-align:center">Welcome</h1>
    <br><br>
    <h4 class="display-4" style="text-align:center">{% now "jS F Y H:i" %}</h4>
    <br><br><br><br><br><br>
    </div>
    {% endif %}
</section>
</main>

{% endblock content %}
